.cruisesmapcontainer {
  // min-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cruisesmaptitlecontainer {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  width: "97%";
}
