@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

// .container {
//   display: flex;
// }

// .menuContainer {
//   width: 250px;
//   padding: 5px 20px;
//   border-right: 2px solid $soft-bg;
// }

header {
  background: tomato;
  /* no flex rules, it will grow */
}

.contentContainer {
  flex: 1;
  /* 1 and it will fill whole space left if no flex value are set to other children*/
  padding: 5px 20px;
  width: 100%;
  overflow: auto;
}
