.golfcoursesmapcontainer {
  // font-size: 20px;
  // font-weight: 600;
  // padding-left: 20px;
  // padding-top: 30px;

  // min-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
